<h1>{{ title }}</h1>

<form [formGroup]="form">
    <fieldset>
        <label>Adicionar nova tarefa: </label>
        <input type="text" name="" id="" placeholder="Digite aqui uma nova tarefa" maxlength="25"
            formControlName="title">
        <button [disabled]="form.invalid" (click)="add()">Adicionar</button> <br>
        <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine">
            * O campo de ter entre 3 e 25 caracteres.</small>
    </fieldset>
</form>

<ul>
    <li *ngFor="let todo of todos">
        {{ todo.id }}. {{ todo.title}}
        <button *ngIf="!todo.done" (click)="markAsDone(todo)">Concluir</button>
        <button *ngIf="todo.done" (click)="markAsUndone(todo)">Reiniciar</button>
        <button (click)="remove(todo)">Remover</button><br><br>

    </li>
</ul>