body{
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    background: #3023ae;
    background: -moz-linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
    background: -webkit-linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
    background: linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3023ae', endColorstr='#c86dd7', GradientType=1);
}
ul{
    text-align: left;
    margin: 10px;
    padding: 10X;
    list-style: none;
    background: #3023ae;
    background: -moz-linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
    background: -webkit-linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
    background: linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
}
li{
    padding:5px;
    margin: 5px;
    font-size: 1em;
    font-style: italic;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

li>button{
    border: none;
    background: #3023ae;
    background: -moz-linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
    background: -webkit-linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
    background: linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
    font-size: 1em;
    float: right;
    opacity: 0.5;
    transition: opacity 1s;
}
li>button:hover{
    opacity: 1;
    transition: opacity 1s;
}

button{
    cursor: pointer;
}

.title{
    color: #3023ae;
    font-size: 5em;
    text-shadow: 3px 5px #000;
}